.Loader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.Loader-image {
  position: absolute;
  height: 100px;
  width: 100px;
  background-image: url('loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}