.Home {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.Home-logo {
  height: 80px;
  display: flex;
  margin: 0 auto;
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.Home-header {
  width: 100%;
  margin: 40px 0 50px 0;
}

.Subject {
  background-image: url('topic.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: auto 65%;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.05), 0 -2px 10px rgba(0,0,0,0.05);
  padding: 15px 15px 40px;
  box-sizing: border-box;
  margin-bottom: 15px;
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
}

.Subject-name {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

.Subject-summary {
  margin: 0;
  margin-top: 3px;
  color: #A7A7A7;
}
